<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="{{ url_for('static', filename='new stylesheet/css/nacos.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Authcss/bootstrap.css') }}">

    <title>Admin</title>
</head>
<body>
    <div class="side-menu">
        <div class="brand-name">
        <h1 style="color: #0B275F;">NACOS</h1>
    </div>
    
   <ul>
        <a href="{{ url_for('viewmore',tablename='Student') }}"><li>Students</li></a>
        <a href="{{ url_for('viewmore',tablename='Staff') }}"><li>Staff</li></a>
        <a href="{{ url_for('logout') }}"> <li>logOut</li></a>




        
    </ul>
</div>

<div class="container">
    <div class="header">
        <div class="nav">
            <div class="search">
                <form method="post"> {{ form.hidden_tag() }}
                {{ form.reg_no (class='input')}}
                {{ form.submit (class='button',style="height: 50px; background:white; color: #0B275F;width: 60px;border-radius: 10px;" )}}</form>

            </div>
            <div class="user">
                <a href="{{ url_for('paymentform') }}" class="btn">Add payment</a>
                <a href="{{ url_for('addstaff') }}" class="btn">Add Admin</a>
                <a href="{{ url_for('addstudent') }}" class="btn">Add student</a>


            </div>

        </div>

    </div>
    <div class="content">
        <div class="cards">
            <div class="card">
                <div class="box">
                    <h1 style="color: #0B275F;">{{total_student}}</h1>
                    <h3  style="color: #0B275F;">Students</h3>

                </div>


            </div>
            <div class="card">
                <div class="box">
                    <h1 style="color: #0B275F;">{{total_staff}}</h1>
                    <h3 style="color: #0B275F;">Staff</h3>

                </div>
                

            </div>


            <div class="card">
                <div class="box">
                    <h1 style="color: #0B275F;">{{total_payment}}</h1>
                    <h3 style="color: #0B275F;">payment</h3>

                </div>
                

            </div>


        </div>
        <div class="content-2">
            <div class="recent-payments">
                <div class="title">
                    <h2 style="color: #0B275F;">Recent Payments</h2>
                    <a href="{{ url_for('viewmore',tablename='Payment') }}" class="btnn">View All</a>

                </div>
                <table>
                    {% for recipt in payment[:10]  %}
                         <tr>
                        <td>{{recipt.studentid.name}}</td>
                        <td>{{recipt.studentid.reg_no}}</td>
                        <td>#1700</td>
                        <td><a href="{{ url_for('studentPaymenttable',reg_no=recipt.studentid.reg_no|replace('/','')) }}" class="btn">View</a></td>
                    </tr>
                    {% endfor %}


                </table>
                
            </div>
            <div class="new-students">
                <div class="title">
                    <h2 style="color: #0B275F;">New Student</h2>
                    <a href="{{ url_for('viewmore',tablename='Student') }}" class="btnn">View All</a>

                </div>
                <table>
                    <tr>
                        <th>Profile</th>
                        <th>Name</th>
                        <th>Option</th>
                    </tr>
                    {% for student in students[:10]  %}
                         <tr>
                        <td>{{student.name}}</td>
                        <td>{{student.reg_no}}</td>
                        <td><a href="{{ url_for('studentPaymenttable',reg_no=student.regno|replace('/','')) }}" class="btn">View</a></td>
                    </tr>
                    {% endfor %}


                </table>
                

            </div>


        </div>

    </div>

</div>
    
</body>
</html>