<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Login Form | CodingLab</title> -->
      <link rel="stylesheet" href="{{ url_for('static', filename ="new stylesheet/css/form.css") }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
  </head>
  <body>
    <div class="container">
      <div class="wrapper">
        <div class="title"><span>Change password</span></div>
             {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
        <div id="art" style="background: white; color: #0B275F; padding: 10px; width: auto" class="alert alert-{{ category }} alert-dismissible fade show " role="alert">
  <strong>{{ message }}</strong>
  <button id='close' type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
        <form method="post">
          <div class="row">

              {{ form.hidden_tag() }}
              {{ form.password(class='inpu',placeholder='New Password') }}

          </div>
          <div class="row">
            {{ form.new_password(class = 'input', placeholder='confirm password') }}

          </div>
         
          
          
          
          <div class="row button">
            {{ form.submit(class = 'inpu') }}
          </div>
          
        </form>
      </div>
    </div>
<script>
        var closes= document.getElementById('close')
        var alertt = document.getElementById('art')
        closes.onclick= function(){

            alertt.style.display = 'none'
        }
        closes.addEventListener(onclick, function () {
            alert('hey')

        })
    </script>
  </body>
</html>
