<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Login Form | CodingLab</title> -->
     <link rel="stylesheet" href="{{ url_for('static', filename='new stylesheet/css/form.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Authcss/bootstrap.css') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
  </head>
  <body>
    <div class="container">
      <div class="wrapper">
        <div class="title"><span>NACOS LOGIN FORM</span></div>
        <form  method="POST">
             {{ form.hidden_tag() }}
          <div class="row">
            <i class="fas fa-user"></i>
            {{ form.username(class ='inpu',placeholder= 'Login Detail') }}

          </div>
          <div class="row">
            <i class="fas fa-lock"></i>
            {{ form.password(class ='inpu',placeholder= 'Password') }}
          </div>

          
          <div class="row button">
              {{ form.login(class = "login inpu") }}


          </div>
          
        </form>
      </div>
    </div>

  </body>
</html>
