<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='new stylesheet/css/nacos.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Authcss/bootstrap.css') }}">

    <title>Staff dashboard</title>
</head>
<body>
    <div class="side-menu">
        <div class="brand-name">
        <a href="login form.html"><h1 style="color: #0B275F !important;">NACOS</h1></a>
    </div>
    
    <ul>
        
        <li style="padding: 20px; color:white;" class="active">Student payment history</li>
        <a href={{ url_for('logout') }}><li style="padding: 20px;">Logout</li></a>

        
    </ul>
</div>

<div class="container">
    <div class="header">
        <div class="nav">
            <h1 style="color: white !important;">{{current_user.name}}</h1>
        </div>

    </div>
    <div class="content">
        <div class="cards">
            <div class="carrd">
                <div class="box">
                    <h1 style="color: #0B275F;">Name:{{st.name}}</h1>
                    <h3  style="color: #0B275F;">Reg No: {{st.reg_no}}</h3>

                </div>


            </div>
            

        </div>
        <div class="content-3">
            <div class="history">
                <div class="title">
                    <h2 style="color: #0B275F !important;">Student Payment History</h2>
                    

                </div>
                <table>
                    <tr>
                         <th>Reg_No</th>
                        <th>Level</th>
                        <th>Date</th>
                        <th>Status</th>
                       
                    </tr>
                     {% for student in detail %}
                         <tr>
                        <td>{{student.studentid.reg_no}}</td>
                        <td>{{student.level}}</td>
                        <td>{{student.Date}}</td>
                        <td>{{student.status}}</td>

                    </tr>
                    {% endfor %}

                </table>
                
            </div>
            

        </div>

    </div>

</div>
    
</body>
</html>