<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='Authcss/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Authcss/bootstrap.css') }}">


    <title>Student Login</title>
</head>
<body>
    <div class="login-form">
        <h1>LOGIN</h1>
          {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
        <div id="art" style="background: white; color: #0B275F; padding: 10px; width: auto" class="alert alert-{{ category }} alert-dismissible fade show " role="alert">
  <strong>{{ message }}</strong>
  <button id='close' type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
        <form  method="POST">
        {{ form.hidden_tag() }}


                 <p>Login Details</p>
            {{ form.username(class ='form-control form-control input', style="font-size: 16px; width: 200px; padding: 15px 10px; border: 0; outline: aqua; border-radius: 5px; text-align: center;") }}


            <p>Password</p>
            {{ form.password(class ='form-control form-control ', style="font-size: 16px; width: 200px; padding: 15px 10px; border: 0; outline: aqua; border-radius: 5px; text-align: center;") }}
{#             <p>Password</p>#}

{#            {{ form.combo(class ='form-control form-control ', style="font-size: 16px; width: 200px; padding: 15px 10px; border: 0; outline: aqua; border-radius: 5px; text-align: center;") }}#}
            <br> <br>

            {{ form.login(class = "login", style="width: 200px; padding: 10px 10px; text-align: center; margin: 20px 10px; border-radius: 10px; font-weight: bolder; border: 2px solid aqua; background: transparent; color: #fff; cursor: pointer; position: relative; overflow: hidden;") }}


        </form>

    </div>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script>
        var closes= document.getElementById('close')
        var alertt = document.getElementById('art')
        closes.onclick= function(){

            alertt.style.display = 'none'
        }
        closes.addEventListener(onclick, function () {
            alert('hey')

        })
    </script>
</body>
</html>